.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  width: 100vw;
  height: 100vh;
}
.Home-header{
  width: 100vw;
  padding: 1em;
  background-color: rgba(245, 245, 220, 0.56);
}
